/* @font-face { font-family: 'Pretendard-SemiBold'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff'); font-weight: 700; font-style: normal; }  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}


.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

body::-webkit-scrollbar {
    width: 11px;
    /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 4%;
    /* 스크롤바의 길이 */
    background: #8da6e6;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: var(--main-gray);
}


body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Pretendard';
}

#wrap {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* padding: 1vw; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all 1s;
}

header img{
    width: 1.8vw;
    position: relative;
    left: 1.5vw;
}

header ul {
    display: flex;
    list-style: none;
    position: relative;
    left:1vw;
    top: 0.6vw;
}

header ul li {
    margin: 1.5vw;
    margin-left: 4.6vw;
    transition:all .6s ease;
}

header ul li a{
    font-size: calc(100vw * 22 / 1920);
    color: #5D88F2;
}
/* 
header .menu-list.hide li:nth-child(1) {
    transform: translateX(180px);
} */
header .menu-list.hide li:nth-child(2) {
    transform: translateX(-9vw);
    opacity: 0;
}
header .menu-list.hide li:nth-child(3) {
    transform: translateX(-17vw);
    opacity: 0;
}
header .menu-list.hide li:nth-child(4) {
    transform: translateX(-26vw);
    opacity: 0;
}
header .menu-list.hide li:nth-child(5) {
    transform: translateX(-36vw);
    opacity: 0;
}
header .menu-list.hide li:nth-child(6) {
    transform: translateX(-46vw);
    opacity: 0;
}

header .menu-icon{
    width: 5vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.2s ease-in;
    position: relative;
    bottom: 0.8vw;
}

header ul .menu-icon.bg {
    background-color: #5D88F2;
    color: #FFFFFF;
}

#main {
    width: 100vw;
    height: 56vw;
    /* border: 4px solid red; */
    position: relative;
    background-image: url(../img/main-bg.png);
}

#main .main-left {
    width: 65%;
    height: 50vw;
    float: left;
}

#main .main-right {
    width: 35%;
    height: 50vw;
    float: right;
}

#main #main-fade-in {
    font-size: calc(100vw * 540 / 1920);
    position: absolute;
    bottom: 1.5vw;
    color: #FFFFFF;
    font-weight: 800;
    line-height: 84%;
    /* opacity: 0; */
    /* transition: opacity 2s ease-in-out; */
}


.on {
    animation: cliptext 1s ease-in-out both;
    opacity: 0;
}

@keyframes cliptext {
    0% {
        opacity: 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        transform: translateY(200%);
    }

    95% {
        opacity: 0.5;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        clip-path: polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
    }
}

#main .main-sub-txt {
    list-style: none;
    text-align: right;
    position: relative;
    right: 3.1vw;
    top: 38vw;
    font-size: calc(100vw * 20 / 1920);
    color: #5D88F2;
}

#main .main-sub-txt a{
    color: #5D88F2;
}

#main .main-sub-txt li {
    margin-bottom: 0.4vw;
}

#main .main-sub-txt strong {
    position: relative;
    bottom: 2vw;
    font-size: calc(100vw * 28 / 1920);
}


#overview {
    width: 100vw;
    height: 57vw;
    background-color: #8AA8F2;
    padding-top: 10vw;
    position: relative;
}

#overview .top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
}

#overview .line {
    width: 0vw;
    border: 0.02vw solid #FAFAFA;
    margin-right: 1vw;
}

#overview .top-text h1 {
    font-size: calc(100vw * 28 / 1920);
    font-weight: 400;
    color: #FAFAFA;
}

#overview .top-text h1 span {
    font-size: calc(100vw * 60 / 1920);
    font-weight: 600;
}

#overview p {
    padding: 3vw;
    line-height: 150%;
    position: relative;
    bottom: 3vw;
    font-size: calc(100vw * 26 / 1920);
    color: #FAFAFA;
    font-weight: 300;
}

#overview p span{
    font-size: calc(100vw * 34 / 1920);
    font-weight: 500;
}

#overview svg{
    position: absolute;
    bottom: 0;
}

#overview strong{
    font-size: calc(100vw * 340 / 1920);
    position: absolute;
    right: 3vw;
    color: #97B2F3;
}

#profile {
    width: 100vw;
    height: 60vw;
    /* border: 4px solid red; */
    position: relative;
    background-image: url(../img/profile-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#profile .profile-str {
    font-size: calc(100vw * 340 / 1920);
    transform: rotate(90deg);
    font-weight: 800;
    position: absolute;
    right: -15vw;
    top: 19vw;
    color: #F1F1F1;
}

#profile .profile-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#profile .profile-content .overview-year {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#profile .profile-content .overview-year li {
    border-right: 0.1vw solid #5D88F2;
    height: 20vw;
    width: 24%;
    font-weight: 300;
    font-size: calc(100vw * 22 / 1920);
    padding-left: 2vw;
}

#profile .profile-content .overview-year li strong{
    color: #5D88F2;
    font-size: calc(100vw * 45 / 1920);
}

#profile .profile-content .overview-year li p {
    color: #5D88F2;
    font-size: calc(100vw * 24 / 1920);
    line-height: 130%;
}


#profile .profile-content .overview-year p {
    font-weight: 400;
    position: relative;
    top: 1.3vw;
    
}

#profile dl {
    position: relative;
    bottom: 6vw;
    left: 2vw;
}

#profile dt {
    font-size: calc(100vw * 55 / 1920);
    font-weight: 600;
    margin-bottom: 0.4vw;
    color: #5D88F2;
}

#profile dt span {
    color: #3b3b3b;
    font-size: calc(100vw * 34 / 1920);
    margin-left: 0.7vw;
    font-weight: 300;
    color: #7486BD;
}

#profile dd{
    color: #93A4D7;
}

#profile a {
    color: #3b3b3b;
}

#profile .profile-content .year-1 {
    position: relative;
    bottom: -25vw;
    animation: slide-up2 .2s ease forwards;
}

#profile .profile-content .year-2 {
    position: relative;
    bottom: -20vw;
    animation: slide-up2 .2s ease forwards;
}

#profile .profile-content .year-3 {
    position: relative;
    bottom: -15vw;
    animation: slide-up2 .2s ease forwards;
}

#profile .profile-content .year-4 {
    position: relative;
    bottom: -10vw;
    animation: slide-up2 .2s ease forwards;
}


#skill{
    width: 100vw;
    height: 50vw;
    position: relative;
}

#skill .skill-card ul{
    list-style: none;
}

#skill .skill-card ul li{
    height: 15.5vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skill .skill-card ul li strong{
    position: absolute;
    font-size: calc(100vw * 240 / 1920);
    color: #FFFFFF;
}

#skill .skill-card ul li p{
    line-height: 150%;
    font-size: calc(100vw * 23 / 1920);
    color: #5D88F2;
    position: relative;
    left: 13vw;
}



#skill .skill-card ul li:nth-child(1){
    background-color: #9CAFE3;
}
#skill .skill-card ul li:nth-child(2){
    background-color: #B6C4EB;
    z-index: 3;
    /* position: relative;
    right: 7vw; */
}
#skill .skill-card ul li:nth-child(3){
    background-color: #CDD7F3;
    z-index: 2;
    /* position: relative;
    right: 17vw; */
}

#skill .skill-card ul li:nth-child(4){
    background-color: #E2E7F5;
    z-index: 2;
    /* position: relative;
    right: 17vw; */
}

#skill h1{
    font-size: calc(100vw * 300 / 1920);
    position: absolute;
    right: 3vw;
    bottom: 2vw;
    color: #E2E2E2;
    font-weight: 800;
}



#story {
    width: 100vw;
    height: 64vw;
    position: relative;
    /* border: 4px solid red; */
    margin-top: 12vw;
    background-image: url(../img/story-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#story strong{
    position: absolute;
    left: 0vw;
    font-size: calc(100vw * 480 / 1920);
    font-weight: 800;
    color: #0C191C;
}

#story .story-left {
    width: 35%;
    float: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 11vw;
}

#story .story-left h2 {
    color: #FFFFFF;
    font-size: calc(100vw * 40 / 1920);
    z-index: 4;
}

#story .story-left h3 {
    color: #FFFFFF;
    font-size: calc(100vw * 40 / 1920);
    font-weight: 400;
    z-index: 4;
    margin-bottom: 1vw;
}


#story .dot-line {
    position: relative;
    height: 40vw;
    transform: rotate(18deg);
    transform-origin: top center;
    /* 선의 변환 기준점 설정 (상단 중앙) */
    animation: moveUpDown 4s linear infinite alternate;
    /* 키프레임 애니메이션 설정 */
    z-index: 4;
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0) rotate(18deg);
        /* 시작과 끝 위치 (고정된 상태) */
    }

    50% {
        transform: translateY(0px) rotate(-18deg);
        /* 중간 위치 (아래로 이동) */
    }
}

@keyframes circleMove {

    0%,
    100% {
        transform: translateY(13vw)
    }

    50% {}
}



#story .story-right {
    width: 65%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vw;
    font-size: calc(100vw * 24 / 1920);
    line-height: 150%;
    color: #8e8e8e;
}

#story .story-right p {
    font-weight: 300;
    z-index: 4;
    padding: 2vw;
    color: #FFFFFF;
}


#keyword{
    width: 100vw;
    height: 63vw;
    /* border: 4px solid red; */
    position: relative;
    background-image: url(../img/keyword-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#keyword strong{
    position: absolute;
    right: -3vw;
    font-size: calc(100vw * 450 / 1920);
    font-weight: 800;
    color: #E2E2E2;
}

#keyword h1{
    position: absolute;
    left: 0vw;
    font-size: calc(100vw * 250 / 1920);
    bottom: 2vw;
    font-weight: 800;
    color: #E2E2E2;
    z-index: -2;
}

#keyword ul{
    list-style: none;
}

#keyword ul li{
    font-size: calc(100vw * 210 / 1920);
    z-index: 4;
    color: #FFFFFF;
}

#keyword ul li:nth-child(1){
    position: relative;
    top: 4vw;
    left: 2vw;
}

#keyword ul li:nth-child(2){
    position: relative;
    left: 25vw;
    font-size: calc(100vw * 260 / 1920);
    color: #5D88F2;
}
#keyword ul li:nth-child(3){
    position: relative;
    left: 64vw;
    bottom: 4vw;
}


#project{
    width: 100vw;
    height: 100%;
    /* border: 4px solid red; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 32vw; */
}

#project strong{
    position: absolute;
    font-size: calc(100vw * 200 / 1920);
    z-index: 1;
    color: #E2E2E2;
    font-weight: 900;
    top: -9vw;
    left: 6.5vw;
}

#project .project-top .meo{
    /* width: 87vw; */
    width: 100vw;
    height: 30vw;
    /* border: 4px solid red; */
    position: relative;
    /* margin: 0.5vw; */
    background-color: #B7B7B7;
    /* border-radius: 1vw; */
    background-image: url(../img/meo.png);
    background-size: 100%;
    color: #fff;
}

#project .project-top .meo h1{
    position: absolute;
    left: 1vw;
    bottom: 7vw;
    font-size: calc(100vw * 40 / 1920);
}

#project .project-top .meo h2{
    position: absolute;
    left: 1vw;
    bottom: 5vw;
    font-size: calc(100vw * 30 / 1920);
}

#project .project-top .meo h3{
    position: absolute;
    left: 1vw;
    bottom: 3vw;
    font-size: calc(100vw * 20 / 1920);
}

#project .project-top .meo h4{
    position: absolute;
    left: 1vw;
    bottom: 1.6vw;
    font-size: calc(100vw * 20 / 1920);
}


#project .project-bottom{
    display: flex;
}


#project .project-bottom .inpi{
    width: 45vw;
    height: 41vw;
    /* border: 4px solid red; */
    position: relative;
    /* margin: 0.5vw; */
    background-color: #B7B7B7;
    /* border-radius: 1vw; */
    background-image: url(../img/inpi.png);
    background-size: 100%;
    color: #fff;
}

#project .project-bottom .inpi h1{
    position: absolute;
    left: 1vw;
    bottom: 7vw;
    font-size: calc(100vw * 40 / 1920);
}

#project .project-bottom .inpi h2{
    position: absolute;
    left: 1vw;
    bottom: 5vw;
    font-size: calc(100vw * 30 / 1920);
}

#project .project-bottom .inpi h3{
    position: absolute;
    left: 1vw;
    bottom: 3vw;
    font-size: calc(100vw * 20 / 1920);
}


#project .project-bottom ul{
    display: flex;
    list-style-type: none;
}

#project .project-bottom ul li{
    background-color: #B7B7B7;
    /* border-radius: 1vw; */
}

#project .project-bottom .book{
    width: 27.5vw;
    height: 20.5vw;
    /* border: 4px solid red; */
    position: relative;
    /* margin: 0.5vw; */
    background-image: url(../img/book.png);
    background-size: 100%;
    color: #fff;
}

#project .project-bottom .book h1{
    position: absolute;
    left: 1vw;
    bottom: 4.8vw;
    font-size: calc(100vw * 30 / 1920);
}

#project .project-bottom .book h2{
    position: absolute;
    left: 1vw;
    bottom: 3.4vw;
    font-size: calc(100vw * 20 / 1920);
}

#project .project-bottom .book h3{
    position: absolute;
    left: 1vw;
    bottom: 1.4vw;
    font-size: calc(100vw * 17 / 1920);
}


#project .project-bottom .pea{
    width: 27.5vw;
    height: 20.5vw;
    /* border: 4px solid red; */
    position: relative;
    /* margin: 0.5vw; */
    background-image: url(../img/pea.png);
    background-size: 100%;
    color: #fff;
}

#project .project-bottom .pea h1{
    position: absolute;
    left: 1vw;
    bottom: 4.8vw;
    font-size: calc(100vw * 30 / 1920);
}

#project .project-bottom .pea h2{
    position: absolute;
    left: 1vw;
    bottom: 3.4vw;
    font-size: calc(100vw * 20 / 1920);
}

#project .project-bottom .pea h3{
    position: absolute;
    left: 1vw;
    bottom: 1.4vw;
    font-size: calc(100vw * 17 / 1920);
}

#project .project-bottom .toast-1{
    width: 27.5vw;
    height: 20.5vw;
    /* border: 4px solid red; */
    position: relative;
    background-image: url(../img/toast-1.png);
    background-size: 100%;
    color: #fff;

}

#project .project-bottom .toast-1 h1{
    position: absolute;
    left: 1vw;
    bottom: 4.8vw;
    font-size: calc(100vw * 30 / 1920);
}

#project .project-bottom .toast-1 h2{
    position: absolute;
    left: 1vw;
    bottom: 3.4vw;
    font-size: calc(100vw * 20 / 1920);
}

#project .project-bottom .toast-1 h3{
    position: absolute;
    left: 1vw;
    bottom: 1.4vw;
    font-size: calc(100vw * 17 / 1920);
}

#project .project-bottom .toast-2{
    width: 27.5vw;
    height: 20.5vw;
    /* border: 4px solid red; */
    position: relative;
    background-image: url(../img/toast-2.png);
    background-size: 100%;
    color: #fff;
}

#project .project-bottom .toast-2 h1{
    position: absolute;
    left: 1vw;
    bottom: 4.8vw;
    font-size: calc(100vw * 30 / 1920);
}

#project .project-bottom .toast-2 h2{
    position: absolute;
    left: 1vw;
    bottom: 3.4vw;
    font-size: calc(100vw * 20 / 1920);
}

#project .project-bottom .toast-2 h3{
    position: absolute;
    left: 1vw;
    bottom: 1.4vw;
    font-size: calc(100vw * 17 / 1920);
}


#contact{
    width: 100vw;
    height: 65vw;
    background-image: url(../img/contact-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact-circle{
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    border: 0.2vw solid #5D88F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact-circle h1{
    font-size: calc(100vw * 55 / 1920);
    color: #5D88F2;
    font-weight: 400;
}

footer{
    width: 100vw;
    height: 8vw;
    background-color: #8AA8F2;
    position: relative;
}

footer p{
    color: #fff;
    position: relative;
    top: 5vw;
    left: 2vw;
    font-size: calc(100vw * 27 / 1920);
}